.navigationBar{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background-color: whitesmoke;
    height: 44px;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
    box-sizing: border-box;
    border-radius: 3px;     
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ButtonMenu {
    display: none;
}
.expanded{
    display: none;        
}
.navigationItem {
    display: flex;
    color:rgb(0, 0, 0);
    margin : 2px 10px;
    box-sizing: border-box;
    padding: 3px;

}
.navigationItem:hover {
    display: flex;
    cursor: pointer;
    color :rgb(216, 2, 2);
    /*border-bottom:2px #8b8b8b solid;*/
    transition: .3s;
    background: rgb(221, 221, 221);
    border-radius: 3px;
    padding: 3px;
}

@media(max-width : 768px){
    .ButtonMenu {
        display: inline;
        margin: 15px 15px;
        box-sizing: border-box;
        align-items: center;
    }
    .ButtonMenu:hover {
        cursor: pointer;
    }
    .expanded{
        display: block;
        font-size: 19px;
        box-sizing: border-box;    
        margin-top: 5px;
        height: 30px;
    }
    .expandedParent{
        display: none;
        text-align: right;
        padding: 2px 15px;
        background-color: whitesmoke;
        -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
        -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
        box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.43);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }
    .expanded:hover{
        cursor: pointer;
        color :rgb(216, 2, 2);
        /*border-bottom:2px #8b8b8b solid;*/
        transition: .3s;
        background: rgb(221, 221, 221);
        border-radius: 3px;
        padding : 3px;
    }
}
@media (max-width : 768px){
    .navigationItem {
        display: none;  
    }
}
