.navigationBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom:2px #ccc solid; 
    background-color: whitesmoke;
    height: 46px;
    -webkit-box-shadow: 1px 3px 10px 8px rgba(179,172,46,1);
-moz-box-shadow: 1px 3px 10px 8px rgba(179,172,46,1);
box-shadow: 1px 3px 10px 8px rgba(179,172,46,1);
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ButtonMenu {
    display: none;
}
.navigationItem {
    display: flex;
    padding : 0px;
    color:rgba(179,172,46,1);
    margin : 2px 15px;
    box-sizing: border-box;

}
.navigationItem:hover {
    display: flex;
    cursor: pointer;
    color :#e7a61a;
    border-bottom:2px #e7a61a solid;
}

@media(max-width : 768px){
    .ButtonMenu {
        display: block;
        padding : 0px;
        color:rgba(179,172,46,1);
        margin : 2px 15px;
        box-sizing: border-box;
    }
    /* .ButtonMenu:hover {

    } */
}
@media (max-width : 768px){
    .navigationItem {
        display: none;  
    }
}